.benefits {
    padding: 71px 0 64px 0;
    background-color: #F6F6F6;
    &__title {
        margin-bottom: 60px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 -15px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.333%;
        padding: 0 15px;
        text-align: center;
    }
}
.item-benefits {
    &__icon {
        margin-bottom: 30px;
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            /* animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite; */
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__header {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(29 / 18 * 100%);
        color: #0D0D0D;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: calc(18 / 14 * 100%);
    }
    &__link {
        text-transform: uppercase;
        text-decoration: underline;
        color: #FF0000;
        &:hover {
            color: #ad0000;
        }
    }
}